version demo/fichiers/commentairesValides.jade
doctype html(lang='fr')
head
    meta(charset='utf-8')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='admin.js')
    link(rel='stylesheet', href='admin.css')
    title
      | La bonne formation Administration
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content="L'employé(e) commercial(e) en magasin assure l'approvisionnement et la mise en valeur des produits d'un rayon ou d'un point de vente et répond aux sollicitations des clients, les oriente et les conseille. Il (elle) réceptionne les marchandises, participe à la tenue des réserves, au rangement des pro...")
    link(rel='icon', type='image/png', href='/img/favicon.png')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='test.css')
    link(rel='stylesheet', href='test2.css')
    link(rel='stylesheet', href='admin.css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css', rel='stylesheet')
    link(rel='canonical', href='/annonce-formation/titre-professionnel-employe-commercial-en-magasin-131827')
body
    .beta Version Bêta
    .container-fluid
      .row.section-header
        .col-md-12
          .row
            .col-md-10.col-md-offset-1
              .row
                .col-sm-2(onclick="window.location.href='/';")
                  .img-logolbf(style='cursor:pointer;')
                .col-sm-8
                .col-sm-2
                  .img-logope
                  img.logoIleDeFrance(src='img/logo_crif.png', style='cursor:pointer', height='50', width='180')
      .row.section-content
        .col-md-12
          .row.section-body
            .col-md-12
              .row
                .col-md-10.col-md-offset-1
                  .row
                    .col-md-6(style='text-align:left;')
                    br
                    .col-md-6(style='text-align:right;')
                    br
                    br
                    div.fond2
                        br
                        br
                        p.administration Modération
                        p.bonjour Bonjour Khaled Djoher
                        p.bonjour(style='color:red;font-weight:bold') Administrateur niveau 1
                        div.fond3
                            br 
                            br
                            br
                            p.lesNouveaux Les commentaires déjà validés 
                            br
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number5(src='img/etoile.png' height='20')
                            |   C'était génial !
                            p(style='font-size:14px;color:red' ) par Greg57 le 04 avril 2016
                            
                            p#comm Grâce à cette formation, j'ai appris les ficelles du métier. Ce n'est pas simple au début, mais on s'habitue très vite. Les formateurs sontet ont des méthodes     d'apprentissages très efficaces. Une formation que je recommande.
                            input(type='submit', value='Refuser')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Contacter')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Mettre en attente')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='contacter le modérateur', style='color:red')
                            br
                            br
                            br
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number5(src='img/etoile.png' height='20')
                            |   Pas mal pas mal !
                            p(style='font-size:14px;color:red' ) par Pasmal le 12 juin 2015
                            
                            p#comm Si vous comptez faire cette formation, alors accrochez-vous car si vous êtes à la traine, les formateurs ne pénaliseront pas les autres pour vous. Mais si vous vous sentez l'âme d'un aventurier qui n'abandonne pas, alors n'hésitez pas. Surtout que la branche offre pas mal d'emploi à la fin.
                            input(type='submit', value='Refuser')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Contacter')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Mettre en attente')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='contacter le modérateur', style='color:red')
                            br
                            br
                            br
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number5(src='img/etoile.png' height='20')
                            |   Rien à redire !
                            p(style='font-size:14px;color:red' ) par Mec Sympa le 01 janvier 2015
                        
                            p#comm C'était cool. Je vais la refaire. Bonne année.
                            input(type='submit', value='Refuser')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Contacter')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Mettre en attente')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='contacter le modérateur', style='color:red')
                    div.fond
                        div.fond4
                            a#rubrique.rub1(href='admin') Voir les nouveaux commentaires 
                            br
                            a#rubrique.rub2(href='commentairesValides') Voir les commentaires validés
                            br
                            a#rubrique.rub3(href='commentairesRefuses') Voir les commentaires refusés
                            br
                            a#rubrique.rub4(href='commentaireEnAttente') Voir les commentaires mis en attente
                            br
                            a#rubrique.rub5(href='contacteUnModo') Contacter un administrateur

version 0.5/fichiers/commentairesValides.html
<!DOCTYPE html(lang='fr')>

<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="admin.js"></script>
    <link rel="stylesheet" href="admin.css" />
    <title>La bonne formation Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="L'employé(e) commercial(e) en magasin assure l'approvisionnement et la mise en valeur des produits d'un rayon ou d'un point de vente et répond aux sollicitations des clients, les oriente et les conseille. Il (elle) réceptionne les marchandises, participe à la tenue des réserves, au rangement des pro..." />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" href="test.css" />
    <link rel="stylesheet" href="test2.css" />
    <link rel="stylesheet" href="admin.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href="https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css" rel="stylesheet" />
    <link rel="canonical" href="/annonce-formation/titre-professionnel-employe-commercial-en-magasin-131827" />
</head>

<body>
    <div class="beta">Version Bêta</div>
    <div class="container-fluid">
        <div class="row section-header">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div onclick="window.location.href='/';" class="col-sm-2">
                                <div style="cursor:pointer;" class="img-logolbf"></div>
                            </div>
                            <div class="col-sm-8"></div>
                            <div class="col-sm-2">
                                <div class="img-logope"></div><img src="img/logo_crif.png" style="cursor:pointer" height="50" width="180" class="logoIleDeFrance" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-content">
            <div class="col-md-12">
                <div class="row section-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div style="text-align:left;" class="col-md-6"></div>
                                    <br/>
                                    <div style="text-align:right;" class="col-md-6"></div>
                                    <br/>
                                    <br/>
                                    <div class="fond2">
                                        <br/>
                                        <br/>
                                        <p class="administration">Modération</p>
                                        <p class="bonjour">Bonjour Khaled Djoher</p>
                                        <p style="color:red;font-weight:bold" class="bonjour">Administrateur niveau 1</p>
                                        <div class="fond3">
                                            <br/>
                                            <br/>
                                            <br/>
                                            <p class="lesNouveaux">Les commentaires déjà validés </p>
                                            <br/><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/etoile.png" height="20" class="number5" /> C'était génial !
                                            <p style="font-size:14px;color:red">par Greg57 le 04 avril 2016</p>
                                            <p id="comm">Grâce à cette formation, j'ai appris les ficelles du métier. Ce n'est pas simple au début, mais on s'habitue très vite. Les formateurs sontet ont des méthodes d'apprentissages très efficaces. Une formation que je recommande.</p>
                                            <input type="submit" value="Refuser" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="Contacter" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="Mettre en attente" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="contacter le modérateur" style="color:red" />
                                            <br/>
                                            <br/>
                                            <br/><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/etoile.png" height="20" class="number5" /> Pas mal pas mal !
                                            <p style="font-size:14px;color:red">par Pasmal le 12 juin 2015</p>
                                            <p id="comm">Si vous comptez faire cette formation, alors accrochez-vous car si vous êtes à la traine, les formateurs ne pénaliseront pas les autres pour vous. Mais si vous vous sentez l'âme d'un aventurier qui n'abandonne pas, alors n'hésitez pas. Surtout que la branche offre pas mal d'emploi à la fin.</p>
                                            <input type="submit" value="Refuser" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="Contacter" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="Mettre en attente" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="contacter le modérateur" style="color:red" />
                                            <br/>
                                            <br/>
                                            <br/><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/etoile.png" height="20" class="number5" /> Rien à redire !
                                            <p style="font-size:14px;color:red">par Mec Sympa le 01 janvier 2015</p>
                                            <p id="comm">C'était cool. Je vais la refaire. Bonne année.</p>
                                            <input type="submit" value="Refuser" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="Contacter" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="Mettre en attente" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="contacter le modérateur" style="color:red" />
                                        </div>
                                    </div>
                                    <div class="fond">
                                        <div class="fond4"><a id="rubrique" href="admin.html" class="rub1">Voir les nouveaux commentaires </a>
                                            <br/><a id="rubrique" href="commentairesValides.html" class="rub2">Voir les commentaires validés</a>
                                            <br/><a id="rubrique" href="commentairesRefuses.html" class="rub3">Voir les commentaires refusés</a>
                                            <br/><a id="rubrique" href="commentaireEnAttente.html" class="rub4">Voir les commentaires mis en attente</a>
                                            <br/><a id="rubrique" href="contacteUnModo.html" class="rub5">Contacter un administrateur</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
