version 0.5/fichiers/commentaireEnAttente.html
<!DOCTYPE html(lang='fr')>

<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="admin.js"></script>
    <link rel="stylesheet" href="admin.css" />
    <title>La bonne formation Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="L'employé(e) commercial(e) en magasin assure l'approvisionnement et la mise en valeur des produits d'un rayon ou d'un point de vente et répond aux sollicitations des clients, les oriente et les conseille. Il (elle) réceptionne les marchandises, participe à la tenue des réserves, au rangement des pro..." />
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" href="test.css" />
    <link rel="stylesheet" href="test2.css" />
    <link rel="stylesheet" href="admin.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href="https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css" rel="stylesheet" />
    <link rel="canonical" href="/annonce-formation/titre-professionnel-employe-commercial-en-magasin-131827" />
</head>

<body>
    <div class="beta">Version Bêta</div>
    <div class="container-fluid">
        <div class="row section-header">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div onclick="window.location.href='/';" class="col-sm-2">
                                <div style="cursor:pointer;" class="img-logolbf"></div>
                            </div>
                            <div class="col-sm-8"></div>
                            <div class="col-sm-2">
                                <div class="img-logope"></div><img src="img/logo_crif.png" style="cursor:pointer" height="50" width="180" class="logoIleDeFrance" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row section-content">
            <div class="col-md-12">
                <div class="row section-body">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="row">
                                    <div style="text-align:left;" class="col-md-6"></div>
                                    <br/>
                                    <div style="text-align:right;" class="col-md-6"></div>
                                    <br/>
                                    <br/>
                                    <div class="fond2">
                                        <br/>
                                        <br/>
                                        <p class="administration">Modération</p>
                                        <p class="bonjour">Bonjour Khaled Djoher</p>
                                        <p style="color:red;font-weight:bold" class="bonjour">Administrateur niveau 1</p>
                                        <div class="fond3">
                                            <br/>
                                            <br/>
                                            <br/>
                                            <p class="lesNouveaux">Les commentaires mis en attente</p>
                                            <br/><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/etoile.png" height="20" class="number5" /><img id="star" src="img/etoile.png" height="20" class="number5" /><img id="star" src="img/etoile.png" height="20" class="number5" /><img id="star" src="img/etoile.png" height="20" class="number5" /> Être ou ne pas être content...
                                            <p style="font-size:14px;color:red">par Lucile le 28 juin 2016</p>
                                            <p id="comm">Est-ce que c'était bien ? oui c'était bien. Est-ce que c'était pas bien ? Oui c'était pas bien. Je ne sais pas en fait. Aidez-moi !</p>
                                            <p style="color:red">Motif de la mise en attente : La personne hésite.</p>
                                            <input type="submit" value="valider" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="Refuser" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="Contacter" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="contacter le modérateur" style="color:red" />
                                            <br/>
                                            <br/>
                                            <br/><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/etoile.png" height="20" class="number5" /> Je suis bavard
                                            <p style="font-size:14px;color:red">par blabla le 01 janvier 2016</p>
                                            <p id="comm">J'ai plein de choses à dire. Si tu n'as pas le temps de tout lire maintenant, mets moi en attente, ça me dérange pas.</p>
                                            <p style="color:red">Motif de la mise en attente : C'est trop long !</p>
                                            <input type="submit" value="valider" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="Refuser" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="Contacter" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="contacter le modérateur" style="color:red" />
                                            <br/>
                                            <br/>
                                            <br/><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/yellow_star3.png" height="20" class="number1" /><img id="star" src="img/etoile.png" height="20" class="number5" /> Grand-mère
                                            <p style="font-size:14px;color:red">par Mère-grand le 24 novembre 2018</p>
                                            <p id="comm">Vous travaillez trop ! Prenez un peu de temps pour vous et allez vous faire un café grand mère.</p>
                                            <p style="color:red">Motif de la mise en attente : Un café et j'arrive.</p>
                                            <input type="submit" value="valider" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="Refuser" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="Contacter" />&#x9;&#x9;&#x9;
                                            <input type="submit" value="contacter le modérateur" style="color:red" />
                                        </div>
                                    </div>
                                    <div class="fond">
                                        <div class="fond4"><a id="rubrique" href="admin.html" class="rub1">Voir les nouveaux commentaires </a>
                                            <br/><a id="rubrique" href="commentairesValides.html" class="rub2">Voir les commentaires validés</a>
                                            <br/><a id="rubrique" href="commentairesRefuses.html" class="rub3">Voir les commentaires refusés</a>
                                            <br/><a id="rubrique" href="commentaireEnAttente.html" class="rub4">Voir les commentaires mis en attente</a>
                                            <br/><a id="rubrique" href="contacteUnModo.html" class="rub5">Contacter un administrateur</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

version demo/fichiers/commentaireEnAttente.jade
doctype html(lang='fr')
head
    meta(charset='utf-8')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='admin.js')
    link(rel='stylesheet', href='admin.css')
    title
      | La bonne formation Administration
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content="L'employé(e) commercial(e) en magasin assure l'approvisionnement et la mise en valeur des produits d'un rayon ou d'un point de vente et répond aux sollicitations des clients, les oriente et les conseille. Il (elle) réceptionne les marchandises, participe à la tenue des réserves, au rangement des pro...")
    link(rel='icon', type='image/png', href='/img/favicon.png')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    link(rel='stylesheet', href='test.css')
    link(rel='stylesheet', href='test2.css')
    link(rel='stylesheet', href='admin.css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(href='https://api.mapbox.com/mapbox.js/v2.2.3/mapbox.css', rel='stylesheet')
    link(rel='canonical', href='/annonce-formation/titre-professionnel-employe-commercial-en-magasin-131827')
body
    .beta Version Bêta
    .container-fluid
      .row.section-header
        .col-md-12
          .row
            .col-md-10.col-md-offset-1
              .row
                .col-sm-2(onclick="window.location.href='/';")
                  .img-logolbf(style='cursor:pointer;')
                .col-sm-8
                .col-sm-2
                  .img-logope
                  img.logoIleDeFrance(src='img/logo_crif.png', style='cursor:pointer', height='50', width='180')
      .row.section-content
        .col-md-12
          .row.section-body
            .col-md-12
              .row
                .col-md-10.col-md-offset-1
                  .row
                    .col-md-6(style='text-align:left;')
                    br
                    .col-md-6(style='text-align:right;')
                    br
                    br
                    div.fond2
                        br
                        br
                        p.administration Modération
                        p.bonjour Bonjour Khaled Djoher
                        p.bonjour(style='color:red;font-weight:bold') Administrateur niveau 1
                        div.fond3
                            br 
                            br
                            br
                            p.lesNouveaux Les commentaires mis en attente
                            br
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number5(src='img/etoile.png' height='20')
                            img#star.number5(src='img/etoile.png' height='20')
                            img#star.number5(src='img/etoile.png' height='20')
                            img#star.number5(src='img/etoile.png' height='20')
                            |   Être ou ne pas être content...
                            p(style='font-size:14px;color:red' ) par Lucile le 28 juin 2016
                            
                            p#comm Est-ce que c'était bien ? oui c'était bien. Est-ce que c'était pas bien ? Oui c'était pas bien. Je ne sais pas en fait. Aidez-moi !
                            
                            p(style='color:red') Motif de la mise en attente : La personne hésite.
                            input(type='submit', value='valider')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Refuser')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Contacter')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='contacter le modérateur', style='color:red') 
                            br
                            br
                            br
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number5(src='img/etoile.png' height='20')
                            |   Je suis bavard
                            p(style='font-size:14px;color:red' ) par blabla le 01 janvier 2016
                            
                            p#comm J'ai plein de choses à dire. Si tu n'as pas le temps de tout lire maintenant, mets moi en attente, ça me dérange pas.
                            p(style='color:red') Motif de la mise en attente : C'est trop long !
                            input(type='submit', value='valider')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Refuser')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Contacter')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='contacter le modérateur', style='color:red')
                            br
                            br
                            br
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number1(src='img/yellow_star3.png' height='20')
                            img#star.number5(src='img/etoile.png' height='20')
                            |   Grand-mère
                            p(style='font-size:14px;color:red' ) par Mère-grand le 24 novembre 2018
                        
                            p#comm Vous travaillez trop ! Prenez un peu de temps pour vous et allez vous faire un café grand mère.
                            p(style='color:red') Motif de la mise en attente : Un café et j'arrive.
                            input(type='submit', value='valider')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Refuser')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='Contacter')
                            | &#x9;&#x9;&#x9;
                            input(type='submit', value='contacter le modérateur', style='color:red')
                    div.fond
                        div.fond4
                            a#rubrique.rub1(href='admin') Voir les nouveaux commentaires 
                            br
                            a#rubrique.rub2(href='commentairesValides') Voir les commentaires validés
                            br
                            a#rubrique.rub3(href='commentairesRefuses') Voir les commentaires refusés
                            br
                            a#rubrique.rub4(href='commentaireEnAttente') Voir les commentaires mis en attente
                            br
                            a#rubrique.rub5(href='contacteUnModo') Contacter un administrateur
