version 0.6/fichiers/index.jade
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Ubuntu', rel='stylesheet')
    link(rel='stylesheet', href='index1.css')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='index.js')
    Acceuil
    // Hotjar Tracking Code for http://advisor.beta.pole-emploi.fr/
    script.
      (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:359252,hjsv:5};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
      })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  body
    .bandeHautBlanche
      .container-fluid
        .row
          .col-sm-offset-2.col-sm-2
            img.imgFormAdvisor(src='img/formADVISOR.png')
          .col-sm-offset-4.col-sm-2
            img.imgPoleEmploi(src='img/propulse.png')
            img.imgCrif(src='img/logo_crif.png')
    .container-fluid
      .row2
        .col-md-offset-2.col-md-8
          .fondBlanc1
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-1
                  p#texteBienvenue1 Bienvenue
                .col-sm-offset-1.col-sm-2
                  p#texteBienvenue1= name
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-11
                  p#texteBienvenue3 Ici, vous pourrez donner un avis sur votre formation
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-11
                  p#texteBienvenue2 Ceci ne vous prendra qu'un petit instant
                  br
                  br
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-2
                  p.boucherCharcutier Formation
                .col-xs-offset-1.col-xs-6
                  p.intitule= formationName
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-2
                  p.centre Centre
                .col-xs-offset-1.col-xs-6
                  p.centreDeFormation= formationPlace
            .container-fluid
              .row2
                .col-sm-offset-1.col-sm-2
                  p.date Date
                .col-xs-offset-1.col-xs-8
                  p.dateDeFormation= beginDate
            .container-fluid
              .row2
                .col-xs-offset-1.col-xs-5
                  p.exacte
                    | Ces informations ne sont pas exactes ? 
                    span.signaler Signaler
            .container-fluid
              .row2
                .col-md-offset-4.col-md-4
                  .suivant Donner votre avis

version 0.5/fichiers/index.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <title>Version 0.5</title>
</head>
<body>
    <div class="bandeHautBlanche">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <img src="img/lbf.png" class="imgLbf"></img>
                </div>
                <div class="col-sm-offset-3 col-sm-2">
                    <img src="img/formADVISOR.png" class="imgFormAdvisor"></img>
                </div>
                <div class="col-sm-offset-3 col-sm-2">
                    <img src="img/propulse.png" class="imgPoleEmploi"></img>
                    <img src="img/logo_crif.png" class="imgCrif"></img>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row2">
            <div class="col-lg-offset-2 col-lg-10">
                <div class="lalala">
                    <p id="texteBienvenue1">Bienvenue monsieur Khaled Djoher</p>
                    <p id="texteBienvenue3">Ici, vous pourrez donner un avis sur votre formation</p>
                    <p id="texteBienvenue2">Ceci ne vous prendra qu'un petit instant</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row2">
            <div class="col-md-offset-2 col-md-8">
                <div class="fondBlanc1">
                    <div class="container-fluid">
                        <div class="row2">
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row2">
                            <div class="col-sm-offset-1 col-sm-2">
                                <p class="boucherCharcutier">Formation</p>
                            </div>
                            <div class="col-xs-offset-1 col-xs-6">
                                <p class="intitule">Boucher charcutier</p>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row2">
                            <div class="col-sm-offset-1 col-sm-2">
                                <p class="centre">Centre</p>
                            </div>
                            <div class="col-xs-offset-1 col-xs-6">
                                <p class="centreDeFormation">AFPA de Meaux</p>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row2">
                            <div class="col-sm-offset-1 col-sm-2">
                                <p class="date">Date</p>
                            </div>
                            <div class="col-xs-offset-1 col-xs-8">
                                <p class="dateDeFormation">Du 05/02/2014 au 18/11/2014</p>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row2">
                            <div class="col-xs-offset-7 col-xs-5">
                                <p class="exacte">Ces informations ne sont pas exactes ? <span class="signaler">Signaler</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row2">
            <div class="col-md-offset-8 col-md-2">
                <div class="suivant">Donner votre avis</div>
            </div>
        </div>
    </div>
</body>
</html>
