version 0.2/fichiers/admin.jade
doctype html(lang='fr')
head
    meta(charset='utf-8')
    script(type='text/javascript', src='jquery.js')
    script(type='text/javascript', src='admin.js')
    link(rel='stylesheet', href='admin.css')
body
    h1 Page d'admin
    input.laValidation(type='submit', value='accepter ce commentaire (le plus ancien)')
    input.laSuppression(type='submit', value='supprimer ce commentaire (le plus ancien)')
    .listeAvis
    .listeButton
    

version 0.3/fichiers/admin.html
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="admin.js"></script>
  <link rel="stylesheet" href="admin.css"/>
</head>
<body>
  <h1>Page d'admin</h1>
  <!--<input type="submit" value="accepter ce commentaire (le plus ancien)" class="laValidation"/>
  <input type="submit" value="supprimer ce commentaire (le plus ancien)" class="laSuppression"/>-->
  <div class="listeAvis"></div>
  <div class="listeButton"></div>
</body>
